#gradient-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  --gradient-color-1: #c3e4ff;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #e6e3ef;
  --gradient-color-4: #0096d7;
}
#footer {
  position: fixed;
  top: 95%;
  left: 45%;
  bottom: 0;
  width: auto;
  height: 45px;
  transform: translate(-50%, -50%);
  background-color: #0096d8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 3;
}
#footer1 {
  position: fixed;
  top: 95%;
  left: 55%;
  bottom: 0;
  width: auto;
  height: 45px;
  transform: translate(-50%, -50%);
  background-color: #0096d8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 3;
}
#goingDown {
  margin-top: 30px;
  font-size: 30px;
}
#goingDown:hover {
  transform: translateY(10px);
  transition: all 0.3s ease-in-out;
}

#footer i,
#footer1 i {
  font-size: 20px;
  color: #000000;
}

#footer .svg-inline--fa,
#footer1 .svg-inline--fa {
  padding-top: 15%;
  font-size: 19px;
  color: #e3e3f0;
}
#footer a,
#footer1 a {
  font-family: 'Title' !important;
  margin: 0 10px;
  color: #000000;
  text-decoration: none;
}
#footer a:hover,
#footer1 a:hover {
  color: #000000;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
#footer a:active,
#footer1 a:active {
  color: #000000;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
#presentacion {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 0 10%;
  animation: fadeIn 2s;
}
#fondo {
  background: #d5d9e0;
  z-index: -1;
}
.proyecto {
  align-items: center;
  padding: 0 10%;
  padding-top: 7%;
  z-index: 1;
}
@media screen and (max-width: 720px) {
  #footer1 {
     left: 75%;
  }
  #footer {
     left: 35%;
  }
  #about {
     font-size: 19px !important;
  }
  #title {
     font-size: 25px !important;
  }
  .logos {
     padding-top: 30% !important;
  }
}
@media screen and (max-width: 1024px) {
  .logos {
     padding-top: 25% !important;
  }
  #footer1 {
    left: 60%;
 }
 #footer {
    left: 40%;
 }
}

@media screen and (max-width: 370px) {
  #about {
     font-size: 17px !important;
  }
  .logos img {
     width: 64px !important;
     height: 64px !important;
  }
  .logos {
    padding-top: 35% !important;
 }
}
.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  padding-top: 15%;
  padding-bottom: 15%;
  z-index: 1;
  animation: fadeIn 3s;
}
.left-div {
  padding-left: 10%;
}
.right-div {
  padding-right: 10%;
}
.planet {
  font-size: 12px;
  font-family: 'Text-1';
  border: none;
  box-shadow: none;
  color: #000c15;
  padding: 0;
  margin: 0;
  padding-left: 3%;
  padding-top: 10px;
  z-index: 3;
  animation: fadeIn 3s;
}
.planet .svg-inline--fa:hover {
  transform: translateY(30px);
  transition: all 0.3s ease-in-out;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(108, 107, 107, 0.5);
  max-width: 50%;
  height: auto;
  border-color: white;
  border-width: 2px;
}
#title:hover {
  transform: translateX(10px);
  transition: all 0.3s ease-in-out;
}
#title {
  font-family: 'Title' !important;
  font-size: 30px;
  color: #000c15;
}
#titleM {
  font-family: 'Title-1' !important;
  font-size: 35px;
  color: #000c15;
  padding-top: 10%;
}
#titleIcon {
  font-size: 27px;
  color: #000c15;
  padding-bottom: 1px;
}
#about {
  font-family: 'Text' !important;
  font-weight: 600;
  font-size: 20px;
  color: #000c15;
}
.content {
  display: none;
}
.active-content {
  display: block;
}
.active-content #about {
  animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {
     opacity: 0;
  }
  100% {
     opacity: 1;
  }
}
