@media (min-width: 768px) {
  .proyecto {
    display: flex;
    flex-direction: row;
  }
  .proyecto .texto-presentacion {
    order: 2;
    width: 50%;
    margin-top: 0;
  }
}
@media (max-width: 915px) and (orientation: landscape) {
  .proyecto {
    display: flex;
    flex-direction: row;
    padding: 0 10%;
    padding-top: 7%;
    padding-bottom: 7%;
    align-items: center;
  }
  .proyecto a {
    order: 1;
    width: 40%;
    z-index: 3;
  }
  .proyecto .texto-presentacion {
    order: 2; 
    padding-bottom: 15%;
  }
  .proyecto #about {
    font-size: 0.8rem;
  }
}


@media (max-width: 915px) and (orientation: portrait){
  .proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .proyecto a {
    order: 2;
    width: 90%;
  }
}
@media (max-width: 375px) {
  #about {
    font-size: 0.8rem;
  }
}