#gradient-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width:100%;
  /* height for the entire page */
  height: 200vh;
  --gradient-color-1: #c3e4ff; 
  --gradient-color-2: #6ec3f4; 
  --gradient-color-3: #eae2ff;  
  --gradient-color-4: #00a3d7;
}
/*make a responsive footer for links */
#footer{
  position: fixed;
  top: 95%;
  left: 50%;
  bottom: 0;
  width: auto;
  height: 45px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px; 
  /*bring footer to front*/
  z-index: 1;
}
/*make the icons the same size globally*/
#footer i{
  font-size: 30px;
  color: #000000;
}
/*add space between links icons*/
Link{
  margin: 0 10px;
  color : #000000;
  font-family: 'Title' !important;
}
#footer a{
  font-family: 'Title' !important;
  margin: 0 10px;
  color: #000000;
  text-decoration: none;
}
#footer a:hover{
  color: #000000;
}
.content{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#presentacion{
  text-align: center;
  flex-direction: column;
}
#registApp{
  z-index: -1;
  height: 100vh;
  /*align in the middle*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
#logos{
  display: flex;
  padding-top: 10%;
  justify-content: center;
}
.left-div{
  padding-left: 10%;
}
.right-div{
  padding-right: 10%;
}
img{
  width: 200px;
  height: 200px;
  border-radius: 30px;
  /*add shadow to the image*/
  box-shadow: 0 0 10px rgba(108, 107, 107, 0.5);
  /*add border to the image*/


}
#title{
  font-family: 'Title' !important;
  font-size: 30px;
  color: rgb(29, 29, 29);
}
#about{
  font-family: 'Text' !important;
  font-weight: 600;
  font-size: 20px;
  color: rgb(0, 0, 0);
}
