:root {
  font-family: 'MyFont' !important;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./assets/fonts/PPNeueMachina-PlainRegular.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
body {
  background-image:  url(
    "/src/assets/img/background0.png");
      background-size: cover;
      background-repeat: no-repeat;
  margin: 2px;
  padding: 2px;
  display: flex;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
  background-image: white;
}
#title{
  font-size: 50px;
  font-weight: bolder;
  place-items: top;
  padding: 3rem;
}